<div *ngIf="hero">
  <div *ngIf="isVisible">
    <blockquote class="electric bubble">
      <h2>{{ hero.name }}</h2>
      <h2>{{ hero.place }}</h2>
    </blockquote>

    <div class="box">
        <div class="card">
            <div>
                <br>
                <br>
              Name :
              <input [(ngModel)]="hero.name" placeholder="Name" />
            </div>
            <br />
            <div>
              First Name :
              <input [(ngModel)]="hero.firstName" placeholder="First Name" />
            </div>
            <br />
            <div>
              Last Name :
              <input [(ngModel)]="hero.lastName" placeholder="Last Name" />
            </div>
            <br />
            <div>
              Place :
              <input [(ngModel)]="hero.place" placeholder="Place" />
            </div>
        </div>
    </div>
    <br />
    <button
      class="save-button button-with-space"
      (click)="updateHero(hero)"
      *ngIf="hero.id"
    >
      Save
    </button>
    <button
      class="delete-button button-with-space"
      (click)="deleteHero(hero)"
      *ngIf="hero.id"
    >
      Delete
    </button>
    <button (click)="createHero(hero); onClose()" *ngIf="!hero.id">
      Create
    </button>
    <button class="close-button button-with-space" (click)="onClose()">
      Close
    </button>
  </div>
</div>
