<div *ngIf="hero">
  <div *ngIf="isVisible">
    <blockquote class="electric bubble">
      <h2>{{ hero.name }}</h2>
      <h2>{{ hero.place }}</h2>
    </blockquote>

    <div class="box">
        <div class="card">
            <div>
                <button style="margin-left: -230px;" class="delete-button button-with-space" (click)="onClose()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                  </button>
                <br>
                <br>
              Name :
              <input [(ngModel)]="hero.name" placeholder="Name" />
            </div>
            <br />
            <div>
              First Name :
              <input [(ngModel)]="hero.firstName" placeholder="First Name" />
            </div>
            <br />
            <div>
              Last Name :
              <input [(ngModel)]="hero.lastName" placeholder="Last Name" />
            </div>
            <br />
            <div>
              Place :
              <input [(ngModel)]="hero.place" placeholder="Place" />
            </div>
        </div>
    </div>
    <br />
    <button
      class="save-button button-with-space"
      (click)="updateHero(hero)"
      *ngIf="hero.id"
    >
      Save
    </button>
    <button
      class="delete-button button-with-space"
      (click)="deleteHero(hero)"
      *ngIf="hero.id"
    >
      Delete
    </button>
    <button class="save-button button-with-space" (click)="createHero(hero); onClose()" *ngIf="!hero.id">
      Create
    </button>
  </div>
</div>
